body {

    font-family: "Open Sans", "Arial", "sans-serif";

    font-size: 20px;
    font-weight: 400;
    line-height: 1.5;
}

h1 {

    font-family: "Open Sans";
    font-size: 60px;
    font-weight: 700;
    line-height: 66px;
    text-align: left;

}

h2 {

    font-family: "Open Sans";
font-size: 30px;
font-weight: 700;
line-height: 36px;
text-align: left;

}

main {

font-family: Open Sans;
font-size: 20px;
font-weight: 400;
line-height: 30px;
text-align: left;

}

button {

font-family: Open Sans;
font-size: 20px;
font-weight: 400;
line-height: 20px;
text-align: center;

}

a {

font-family: Open Sans;
font-size: 20px;
font-weight: 400;
line-height: 20px;
text-align: center;
}
:root {
    --txt-color: #212121;
    --blue: #09A494;
    --bg-color: #FFFFFF;
}
body {
    color: var(--txt-color);
    background-color: var(--bg-color);
}
footer {
    color: var(--bg-color);
    background-color: var(--txt-color);
}
*,
*::before,
*::after {
    box-sizing:border-box;
}
.container {
    min-width: 320px;
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 20px;
}

.main-nav a {
    display: inline-block;
    text-decoration: none;
    color: var(--txt-color);
    padding: 10px;
    margin: 0;
}

.main-nav a:hover {
    color: var(--blue);
}
button {
    padding: 0;
    border: none;
    color: var(--blue);
    background-color: transparent;
    cursor: pointer;
    text-transform:lowercase;
    width: Hug (148px)px;
    height: Hug (36px)px;
    padding: 6px;
    gap: 10px;
    border-radius: 8px;
    border: 1px;
    opacity: 0px;
    border: 1px solid #09A494
}
button:hover {
    background-color: var(--blue);
    color: var(--bg-color);
}

.photo {
    border-radius: 50%;
}

.social {
    margin: 0;
    padding: 0;
    list-style-type: none;
}


.social li {
    display: inline-block;
    margin: 0;
    padding: 0;
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.social-link {

}
.social-link a {
    background-repeat:no-repeat;
    background-position: 50%; 
    width: 50px;
    height: 50px;
    top: 20px;
    left: 20px;
    padding: 1px;
    gap: 10px;
    border-radius: 50%;
    opacity: 100%;
    display: block;
    border: 1px solid #09A494  
    
}

.social-link:hover a {
    background-color: var(--blue);
}

.social-link-github a {
    display: block;
    background-image: url("../img/social=github.svg");

}
.social-link-tg a {
    display: block;
    background-image: url("../img/social=telegram.svg");
}
.social-link-vk a {
    display: block;
    background-image: url("../img/social=vk.svg");
}
.contact {
    margin: 0;
    padding: 0;
    list-style-type: none;
}


.contact li {
    list-style-type: none;
    display: inline-block;
    margin: 0;
    padding-left: 42px;
}


.contact-link a{
    display: block;
    background-repeat:no-repeat;
    background-position: 50%; 
    width: 50px;
    height: 50px;
    top: 20px;
    left: 20px;
    padding: 0;
    gap: 10px;
    border-radius: 50%;
    opacity: 100%;
}

.contact-link-tel a {
    background-image: url("../img/icon=phone.svg" );
}

.contact-link-mail a {
    background-image: url("../img/icon=email.svg");
}
.skill-list {
    margin: 0;
    padding: 0;
    line-height: 1;
}


.skill-list dt {
    margin-bottom: 6px;
    padding: 5px 0 5px 38px;
    background-position: left;
    background-repeat: no-repeat;
    background-size: 30px;
}


.skill-level {
    margin: 4px 0 20px;
    padding: 2px;
    font-size: 0;
    border: 1px solid var(--blue);
    border-radius: 16px;
}


.skill-level div {
    height: 14px;
    background-color: var(--blue);
    border-radius: 8px;
}


.skill-item {
    text-transform: lowercase;
}


.skill-item_html {
    background-image: url("../img/skill=html.svg");
}


.skill-item_css {
    background-image: url("../img/skill=css.svg");
}


.skill-item_cpp {
    background-image: url("../img/skill=c++.svg");
}


.skill-item_python {
    background-image: url("../img/skill=python.svg");
}
